<!DOCTYPE html>
<html>
	
	<header>

		<style type="text/css">
			body {padding: 50px; font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;}
		</style>

	</header>

	<body>

		<h1><%= name.toUpperCase() %></h1>
		<p>hi, <%= name %></p>

	</body>

</html>